body {
    font-family: 'Trebuchet MS', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    margin: 5px;
    justify-content: center;
}
hr {
    border: 0;
    height: 1.5px;
    color: #f9f9f9;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.375);
    border-radius: 8px;
    overflow: hidden;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
}
.header button {
    background-color: #1a65b5;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;
}
.header button:hover {
    background-color: #0f529e;
}
.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: #007bff;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-weight: bold;
}
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #e0e0e0;
}
.day {
    background-color: #fff;
    padding: 5px;
    height: 100px;
    overflow-y: auto;
    border: 1px solid #ddd;
}
.day:hover {
    background-color: #dcefff;
}
.current-day {
    background-color: #bee2ff;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #848484;
}
#eventModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    width: 15%;
}
#eventModal h3 {
    margin-top: 0;
}
#eventModal span {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
#eventModal input {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#eventModal textarea {
    width: calc(100% - 10px);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    resize: none;
    font-size: 15px;
}
#eventModal textarea.error {
    border: 2px solid red;
}
#eventModal button {
    background-color: #007bff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#eventModal button:hover {
    background-color: #005fc5;
}
.event {
    background-color: #cdcdcd;
    font-size: 12px;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.event-time {
    margin-right: 5px;
    white-space: nowrap;
    font-weight: bold;
}
.event-description {
    flex-grow: 1;
    word-break: break-word;
}
#colorOptions {
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
}
.color-option {
    width: 20px;
    height: 20px;
    border-radius: 20%;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s;
    margin-top: 5px;
    margin-bottom: 10px;
}
.color-option.selected {
    border-color: #000;
}
